{% extends 'main/header.html' %}

{% block content %}


{% load static %}
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="row center">
    <div class="parallax"><img src="{% static "main/kings.jpg" %}"/></div></div>
        <div class="row center"><div class="parallax"><img src="{% static "main/queens1.jpg" %}"/></div></div>
        <div class="row center"><div class="parallax"><img src="{% static "main/queens2.jpg" %}"/></div></div>
  </div></div>






{% endblock %}
