{% extends 'main/header.html' %}

{% block content %}
  <div class="row">
    {% for tut in categories %}
        <div class="col s12 m6">
          <a href="{{tut.category_slug}}", style="color:#000">
          <div class="card blue-grey darken-2 hoverable">
            <div class="card-content white-text">
              <span class="card-title">{{tut.tutorial_category}}</span>
              <p style="font-size:70%">{{tut.category_summary}}</p>

            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}