{% extends 'main/header.html' %}

{% block content %}


{% load static %}

  <div class="row">

      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title center">About Us</span>
          <p>SoftMiracles 布偶猫舍是一家位于天府之国成都的小型家庭式布偶猫舍，注册于CFA 以及TICA两大国际协会。<br> 我们所有的种猫均来自欧美正规布偶猫舍，拥有CFA或TICA血统证明以及五代血统族谱。所有种猫均经过DNA检测，无遗传疾病，HCM、PKD均为n/n，即不携带致病基因...</p>
        </div>
        <div class="card-action">
          <a href="/about/">Learn more about us!</a>
        </div>
      </div>
    </div>



<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center teal-text text-lighten-2"<br><br></h1>
        <div class="row center">
        </div>

      </div>
    </div>
    <div class="parallax"><img src="{% static "main/background1.png" %}" class="responsive-img"></div>
  </div>


  <div class="progress">
      <div class="indeterminate"></div>
  </div>



















<div class="row">
{% for t in categories %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
            <img src="{{t.img.url}}" class="materialboxed">

          <a href="{{t.slug}}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>{{t.summary}}</p>
        </div>
      </div>
    </div>
{% endfor %}
</div>

  <div class="card">
    <div class="card-content">
      <p>Certification and Honors</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Honors</a></li>
        <li class="tab"><a class="active" href="#test5">Certificate</a></li>
      </ul>
    </div>
    <div class="row valign-wrapper">
      <div id="test4" class="row center"><img src="{% static "main/award.jpg" %}" class="materialboxed responsive-img"></div>
      <div id="test5"><p>no certificate as we are a backyard cattery</p></div>
    </div>
  </div>






<div class="container">


<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="{% static "main/wulnut.jpg" %}"</a>
    <a class="carousel-item" href="#two!"><img src="{% static "main/wulnut.jpg" %}"></a>
    <a class="carousel-item" href="#three!"><img src="{% static "main/wulnut.jpg" %}"></a>
    <a class="carousel-item" href="#four!"><img src="{% static "main/background1.png" %}"></a>
    <a class="carousel-item" href="#five!"><img src="{% static "main/award.jpg" %}"></a>
  </div>
</div>





{% endblock %}
